certifi==2018.10.15
chardet==3.0.4
idna==2.7
munch==2.3.2
numpy==1.15.4
Pillow==5.3.0
pkg-resources==0.0.0
protobuf==3.6.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.20.1
scipy==1.1.0
six==1.11.0
tensorboardX==1.4
torch==0.4.1
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.1
tornado==5.1.1
urllib3==1.24.1
visdom==0.1.8.5
websocket-client==0.54.0
